<!DOCTYPE HTML>
<html> 
    <head>
        <title>Welcome Back!</title> 
    </head>
    <body> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="static/formprocess.js"></script>
    <h1> Hi {{ current_user }}</h1> 
    <form action="/contact" method="post" class="ajax">
    <tr> 
        <td> ID : </td> 
        <td> 
        <input type="text" name="id">
        </td> 
    </tr>
    <tr> 
        <td> CompanyName : </td> 
        <td> 
        <input type="text" name="companyname"> 
        </td> 
    </tr> 
    <tr> 
        <td> Date : </td> 
        <td> 
        <input type="text" name="date"> 
        </td> 
    </tr>
    <tr> 
        <td> Notes : </td> 
        <td> 
        <input type="text" name="notes"> 
        </td> 
    </tr>
    <input type="submit" value="Send">
    {% module xsrf_form_html() %}
    </form>
    <button onclick="cancel()">Cancel</button> 
    </body>
     <a href="/logout">logout</a>
 </html>